<%= render "shared/header" %>
<div class="posts-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">マイページ</h1>
  </div>
</div>
  <% @post.each do |post| %>
    <%= render "shared/company_detail", post: post %>
    <div class="posted-delete-btn-form">
      <%= link_to post_path(post), method: :delete, class:"posted-delete-btn" do %>
        <i class="far fa-trash-alt">削除する</i>
      <% end %>
    </div>
  <% end %>
<%= render "shared/footer" %>