.company-lists {
  margin: 0 calc(50vw - 520px) 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.company-list {
  width: 70vw;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 80px;
  border-top: 10px double #ffba75;
  border-bottom: 10px double #ffba75;
  display: flex;
  align-items: center;
}

.company-img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

a {
  text-decoration: none;
}

.company-info-items {
  width: 150px;
  text-align: center;
  padding: 0;
}

.company-info-item {
  color: black;
  list-style: none;
  padding: 10px;
}

.company-info-contents {
  font-size: 18px;
  font-family: Hiragino Mincho ProN;
  display: flex;
}

.company-info-content {
  width: 500px;
  overflow-wrap: normal;
  text-align: left;
  padding: 10px;
  margin: 10px 0;
  list-style: none;
}

.input-content {
  color: black;
}