.company-information-main {
  width: 100%;
  min-width: 800px;
  background-color: #f7f7f7;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.company-information-wrap {
  background-color: #ffffff;
}

.company-show-list {
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-show-img {
  width: 400px;
  margin: 10px;
}

.company-show-info-items {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
}

.company-show-info-item {
  padding: 10px;
  text-align-last: justify;
  text-justify: inter-ideograph;
}

.company-show-info-contents {
  font-family: Hiragino Mincho ProN;
  display: flex;
  padding: 0;
  margin: 10px 0;
}
.input-content {
  padding: 10px;
  text-align: left;
}

.input-content a {
  color: black;
}

.blank-input {
  color: #c5c5c5;
  margin: 0;
  text-align: left;
}