.top-page-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-title {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: Georgia;
  margin: 0 0 5px 10px ;
}

.page-title-bottom {
  color: black;
  font-size: 15px;
  margin: 0 0 0 10px;
  text-align: center;
}

.lists-right {
  display: flex;
}

.header-link {
  text-decoration: none;
  color: black;
  margin: 0 15px;
}