/* 会社詳細 */
.show-main {
  height: 100%;
  min-height: 800px;
}

.favorite-posts-title {
  padding: 0;
  background-color: #f7f7f7;
}

.show-btn-form {
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-btn, .review-new-btn {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #ffa54c;
  border: none;
  border-radius: 4px;
  padding: 18.5px 50px;
  cursor: pointer;
}

.favorite-release-btn, .review-edit-btn {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #aaaaaa;
  border: none;
  border-radius: 4px;
  padding: 18.5px 50px;
  cursor: pointer;
}

