/* 会社詳細 */
.show-main {
  height: 100%;
  min-height: 800px;
}

.favorite-posts-title {
  padding: 0;
  background-color: #f7f7f7;
}

.company-information-main {
  width: 100%;
  min-width: 800px;
  background-color: #f7f7f7;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.company-information-wrap {
  background-color: #ffffff;
}

.company-show-list {
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-show-img {
  width: 400px;
  margin: 10px;
}

.company-show-info-items {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
}

.company-show-info-item {
  padding: 10px;
  text-align-last: justify;
  text-justify: inter-ideograph;
}

.company-show-info-contents {
  font-family: Hiragino Mincho ProN;
  display: flex;
  padding: 0;
  margin: 10px 0;
}
.input-content {
  padding: 10px;
  text-align: left;
}

.blank-input {
  color: #c5c5c5;
  margin: 0;
  text-align: left;
}

.show-btn-form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-path-btn {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #ffa54c;
  border: none;
  border-radius: 4px;
  padding: 18.5px 50px;
  cursor: pointer;
}

.favorite-btn {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #ffa54c;
  border: none;
  border-radius: 4px;
  padding: 18.5px 50px;
  cursor: pointer;
}

.favorite-release-btn {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #aaaaaa;
  border: none;
  border-radius: 4px;
  padding: 18.5px 50px;
  cursor: pointer;
}
