<%= render "shared/header" %>
<div class="posts-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">マイページ</h1>
  </div>
</div>
<p class="favorite-title-text">お気に入り</p>
<div class="company-lists">
  <%# 投稿内容がない場合 %>
  <% if @favorite.nil? %>
    <div class="no-search-message">
      <i class="fas fa-exclamation-triangle">お気に入りに登録されている会社はありません</i>
  </div>
  <% end %>
  <%# 投稿内容がある場合 %>
  <% if @favorite.present? %>
    <% @posts.each do |post| %>
      <%= render "shared/company_digest", post: post %>
      <div class="delete-btn-form">
        <%= link_to post_favorites_path(@favorite.post_id), method: :delete, class:"delete-btn" do %>
          <i class="far fa-trash-alt">削除する</i>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<%= render "shared/footer" %>