<%= render "shared/header" %>
<div class="posts-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">投稿を編集する</h1>
  </div>
</div>
<%= render "shared/input_area" %>
<%= render "shared/footer" %>
