.company-review-main {
  width: 100%;
  min-width: 800px;
  min-height: 250px;
  background-color: #f7f7f7;
  margin-top: 30px;
}

.company-review-wrap {
  width: 60vw;
  margin: 0 auto;
}

.company-review-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-company-bar {
  background-color: #ffffff;
  display: flex;
  padding: 20px;
}

.review-company-bar-text {
  margin-bottom: 30px;
}

.company-bar-img {
  width: 180px;
  height: 120px;
}

.review-items {
  background-color: #ffffff;
  margin: 20px 0;
  padding: 20px;
}

.review-item {
  padding: 5px;
}


.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc33;
  height: 25px;
}
.star-rating-back {
  color: #ccc;
}