<%= render "shared/header" %>
<div class="posts-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">この会社をレビュー</h1>
  </div>
</div>
<%= render "shared/review_form" %>
<%= render "shared/footer" %>