/* その他はposts/index.cssと同様 */
.delete-btn-form {
  background-color: #f7f7f7; 
  padding-left: 30px;
}

.favorite-title-text {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 0;
}

.favorite-list {
  display: flex;
  align-items: center;
}

.delete-btn-form {
  margin: 10px 0;
  text-align: center;
}

.delete-btn i {
  font-size: 20px;
  color: #888888;
}

.no-favorite-message {
  min-height: 250px;
  text-align: center;
  margin: 100px 0;
}
