body {
  background-color: #f7f7f7;
}

/* 背景画像 */
.back-img {
  background-color: #f7f7f7;
  background-image: url("https://cdn.pixabay.com/photo/2019/12/17/17/09/woman-4702060_1280.jpg");
  background-size: 100vw;
  background-repeat: no-repeat
}

/* 画像上文字列 */
.app-description {
  margin-left: 150px;
  margin-top: 200px;
}

.description-text{
  font-size: 20px;
  padding: 5px;
}

.app-title-script {
  font-size: 60px;
  font-family: 'Pinyon Script', cursive;
  padding: 50px;
}

/* 検索バー */
.search-bar {
  margin-top: 300px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 50px;
  background-color: #001e43;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #001e43;
  margin-left: 10px;
  cursor: pointer;
}

.input-box {
  height: 50px;
  width: 40vw;
}

/* 会社一覧 */
.title-bar-main {
  background-color: #eaf4ff;
  height: 200px;
  padding: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.title-bar-main-content {
  font-family: osaka;
}

.company-lists {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-list {
  width: 1000px;
  background-color: #ffffff;
  padding: 20px;
  margin: 50px 0;
  border-top-color: #ffba75;
  border-top-width: 10px;
  border-top-style: double;
  border-bottom-color: #ffba75;
  border-bottom-width: 10px;
  border-bottom-style: double;
  display: flex;
  align-items: center;
}

.company-img {
  width: 300px;
  margin: 10px;
}

.company-info-items {
  width: 150px;
  text-align: center;
  padding: 0;
}

.company-info-item {
  list-style: none;
  padding: 10px;
}

.company-info-contents {
  font-size: 18px;
  font-family: Hiragino Mincho ProN;
  display: flex;
}

.company-info-content {
  width: 500px;
  overflow-wrap: normal;
  text-align: left;
  padding: 10px;
  margin: 10px 0;
  list-style: none;
}
