body {
  background-color: #f7f7f7;
  height: 100vh;
}

/* 背景画像 */
.back-img {
  height: 1000px;
  position: relative;
  background-color: #f7f7f7;
  background-image: url("/top-img.jpg");
  background-size: cover;
  background-repeat: no-repeat
}

/* 画像上文字列 */
.app-description {
  margin-left: 150px;
  margin-top: 200px;
}

.description-text{
  font-size: 1.4vw;
  padding: 5px;
}

.app-title-script {
  font-size: 4vw;
  font-family: 'Pinyon Script', cursive;
  padding: 50px;
}

/* 検索バー */
.search-bar {
  margin: 25px auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.fa-search {
  color: #001e43;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-times:before {
  color: #001e43;
}

.search-select-box {
  margin: 0 10px;
}

select {
  height: 50px;
}


.input-box {
  height: 50px;
  width: 40vw;
  margin-left: 10px;
}

.search-btn {
  width: 60px;
  height: 50px;
  background-color: #001e43;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #001e43;
  margin-left: 10px;
  cursor: pointer;
}

.microphone {
  width: 50px;
  height: 50px;
  background-color: #001e43;
  border-radius: 50%;
  margin: 0 5px;
  text-align: center;
  line-height: 50px;
}

.fa-microphone {
  color: #ffffff;
}

/* 会社一覧 */
.title-bar-main {
  width: 100vw;
  height: 200px;
  background-color: #eaf4ff;
  padding: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.title-bar-main-content {
  font-family: osaka;
}
