/* その他はregistrationsと同様 */

.posts-title {
  padding: 20px 0;
  background-color: #f7f7f7;
}

.company-post-main {
  width: 100%;
  min-width: 800px;
  min-height: 1580px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}
