/* その他はregistrationsと同様 */

.posts-title {
  padding: 20px 0;
  background-color: #f7f7f7;
}

.company-post-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.optional {
  color: #ffffff;
  background-color: #94adda;
  padding: 2px;
  border-radius: 2px;
}

.image-select {
  margin-top: 15px;
}

.input-detail {
  width: 100%;
  margin-top: 5px;
  height: 150px;
  padding: 10px 18px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}